.container {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    width: 300px;

}

.prof-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    
}

.prof-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.info2 {
    color: darkgray;
    margin-left: 0;
}

.info {
    align-items: left;
    font-size: 12px;
    margin-right: auto;
}

button {
    background-color: #4a82cb;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 30px;
}







.container2 {
    display: flex;
    margin-top: 50px;
    border: 1px solid black;
    width: 300px;
    height: 120px;
    align-items: top;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px
}



.info-container {
    font-size: 12px;
}

.user {
    margin-bottom: 5px;
}

.username {
    color: darkgray;
    margin-left: 5px;

}

.yt-container {
    margin-top: 10px;
    display: flex;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.thumbnail {
    background-color: gray;
    width: 96px;
    height: 60px;
    margin-right: 10px;
    border-radius: 4px;
}

.link {
    color: darkgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.yt-info {
    margin-left: -1px;
    background-color: white;
    border-radius: 5px;
}

